/* Một số tuỳ chỉnh chung cho form đăng ký */
* {
    box-sizing: border-box;
    border: none;
    outline: unset;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 800px;
    padding: 60px 40px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
}

.department,
.keyword {
    padding: 10px 20px;
    width: 30%;
    text-align: left;
    margin-right: 20px;
}

.department-select,
.keyword-input {
    width: 300px;
    border: 2px solid rgb(5 84 149);
    padding: 10px 0;
}

.search-button {
    text-align: center;
    margin-top: 20px;
}

.add-button {
    text-align: right;
}

.search-button button,
.add-student button {
    padding: 10px 35px;
    background-color: #4caf50;
    color: white;
    border: 2px solid rgb(5 84 149);
    border-radius: 10px;
}

.action-button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: 2px solid rgb(5 84 149);
    border-radius: 5px;
}