/* Tổng thể */
* {
  box-sizing: border-box;
  border: none;
  outline: unset;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 500px;
  padding: 60px 40px;
}

table {
  border-spacing: 10px;
}

.d-flex {
  display: flex;
}

.bd-blue {
  border: 2px solid rgb(27, 102, 163);
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Họ và tên. Giới tính, Phân khoa */
.name-box,
.gender-box,
.department-box {
  /* bg-blue text-white bd-blue p-10-20 w-30 text-center */
  background-color: rgb(91, 155, 213);
  color: white;
  border: 2px solid rgb(27, 102, 163);
  padding: 10px 20px;
  width: 30%;
  text-align: center;
}

.name-input {
  border: 2px solid rgb(27, 102, 163);
}

.name-input-required {
  width: 100%;
  padding: 10px 20px;
  height: 100%;
}

.genders {
  margin-right: 10px;
}

.genders input {
  margin-right: 10px;
}

.department-select {
  border: 2px solid rgb(27, 102, 163);
  padding: 10px 0;
}

/* Button Đăng Ký */
.signup {
  /* btn bd-blue bg-green text-white mt-20 */
  border: 2px solid rgb(27, 102, 163);
  background-color: rgb(112 173 71);
  color: white;
  margin-top: 20px;
}

.btn {
  padding: 12px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(91, 155, 213);
}


