* {
    box-sizing: border-box;
    border: none;
    outline: unset;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form {
    width: 650px;
    padding: 40px 80px;
}


.d-flex {
    display: flex;
}   

.p-20 {
    padding: 20px;
}

.p-8{
    padding: 8px;
}

.m-20 {
    margin: 20px;
}

.me-20 {
    margin-right: 20px
}

.mb-20 {
    margin-bottom: 20px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.present-time {
    background-color: rgb(234 229 229);
    margin:0 0 20px 0;
}

.form-input input {
    padding: 20px 0 20px 10px;
}

.form-input input:hover {
    border-color: rgb(120, 217, 233);
}

.bg-blue {
    background-color: rgb(120 190 213);
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.bd-blue {
    border: 2px solid rgb(20 137 233);
}

.pass-input {
    margin-bottom: 50px;
}

.btn {
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(135, 211, 237);;
}