* {
  box-sizing: border-box;
  border: none;
  outline: unset;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 500px;
  padding: 60px 40px;
}

.d-flex {
  display: flex;
}

.invalid {
  color: red;
  font-size: 16px;
  margin: 5px 0px 20px 20px;
  display: flex;
}

.required-label::after {
  content: " *";
  color: red;
}

.qna {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.qna input,
.qna select {
  padding: 10px;
  box-sizing: border-box;
  line-height: 1;
}

.name-box,
.gender-box,
.department-box {
  background-color: rgb(112 173 71);

  color: white;
  border: 2px solid rgb(203, 214, 223);
  padding: 10px 20px;
  width: 30%;
  text-align: center;
  margin-right: 20px;
}

.birth-box {
  background-color: rgb(86 170 70);
  color: white;
  border: 2px solid rgb(5 84 149);
  padding: 10px 20px;
  width: 30%;
  text-align: center;
  margin-right: 20px;
}

.address-box {
  background-color: rgb(86 170 70);
  color: white;
  border: 2px solid rgb(5 84 149);
  padding: 10px 20px;
  width: 30%;
  height: 20%;
  text-align: center;
  margin-right: 20px;
}

.name-input {
  border: 2px solid rgb(5 84 149);
  flex: 1;
}

.gender-input {
  width: 170px;
}

.department-select {
  border: 2px solid rgb(5 84 149);
  padding: 10px 0;
}

.birth-input {
  border: 2px solid rgb(5 84 149);
  width: 170px;
}

.address-input {
  border: 2px solid rgb(5 84 149);
  flex: 1;
  padding: 10px 10px 50px 10px;
}

.address-label {
  height: 20%;
}

.signup {
  border: 2px solid rgb(27, 102, 163);
  background-color: rgb(112 173 71);
  color: white;
  margin-top: 20px;
}

.btn {
  padding: 12px 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(135, 211, 237);
}