/* Một số tuỳ chỉnh chung cho form đăng ký */
* {
    box-sizing: border-box;
    border: none;
    outline: unset;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 500px;
    padding: 60px 40px;
}

.reg-form {
    border: 2px solid rgb(5 84 149);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1;
}

/*Tuỳ chỉnh thuộc tính cho các "Box" */
.full-name-box,
.gender-box,
.department-box,
.birth-box,
.address-box,
.image-box {
    background-color: rgb(86 170 70);
    color: white;
    border: 2px solid rgb(5 84 149);
    padding: 10px 20px;
    width: 30%;
    text-align: center;
    margin-right: 20px;
}

/* Vấn đề Thông tin bắt buộc & Thông báo lỗi */
.error-messages {
    color: red;
    font-size: 16px;
    margin: 5px 0px 20px 20px;
    display: flex;
}

.required-label::after {
    content: " *";
    color: red;
}

/* Tuỳ chỉnh cho input với các "box" tương ứng */
.full-name-input,
.address-input {
    border: 2px solid rgb(5 84 149);
    flex: 1;
}

.gender-select {
    width: 170px;
}

.department-select {
    border: 2px solid rgb(5 84 149);
    padding: 10px 0;
}

.birth-input {
    border: 2px solid rgb(5 84 149);
    width: 170px;
}

.image-select {
    flex: 1;
}

/* Tuỳ chỉnh cho Nút Đăng Ký */
.signup-button {
    text-align: center;
    margin-top: 20px;
}

.signup-button button {
    padding: 10px 35px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(5 84 149);
    border-radius: 10px;
}


/* Bên confirm cho phần hiển thị kết quả form hợp lệ */
.show-name,
.show-gender,
.show-department,
.show-birthdate,
.show-address   {
    flex: 1;
    padding: 10px 20px;
}

.show-image {
    padding: 0px 20px;
    width: 50%;
}

/* Tuỳ chỉnh cho Nút Xác nhận */
.submit-button {
    text-align: center;
    margin-top: 20px;
}

.submit-button button {
    padding: 10px 35px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(5 84 149);
    border-radius: 10px;
}





